# Ignorar arquivos temporários do Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Ignorar arquivos de compilação (binários e objetos)
*.exe
*.obj
*.o
*.mod
*.smod
*.db
*.json

# Ignorar pastas de build comuns
Debug/
Release/
x64/
x86/